/* global colors and styling */
* {
    font-family: Arial, Helvetica;
}
/* header and navigation stylying */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 1px 8px #ddd;
}
#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}
header li {
    list-style: none;
    display: inline-flex;
    font-size: 13.5pt;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}
header a:hover {
    color: #b2dfdb;
}
/* container stylying */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 1px 8px #ddd;
    flex-wrap: wrap;
}
#resume_container {
    display: block;
    padding: 10px 40px;
}
.resume object, iframe {
    display: flex;
    align-items: center;
    height: 550px;
    width: 100%;
    border: 3pt solid black;
}
.highlight_image img, .interests_image img {
    padding-top: 20px;
    padding-right: 20px;
    width: 150px;
    height: 150px;
}
.highlights, .biography, .interests {
    display: flex;
}
#highlight_description, #biography_description {
    text-decoration: none;
    font-weight: lighter;
    color: #555;
}
.biography_image img {
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* footer stylying */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 1px 8px #ddd;
}